<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Universal Medical Identity</title>
</head>
<body>
    <form method="POST" action="login_form.hbs">
        <button type="submit">Login</button>
    </form>
    
    <form method="POST" action="form.hbs">
        <button type="submit">Sign up</button>
    </form>
</body>
</html>